@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.2;
  font-family: "Montserrat";
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
  height: auto;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar.top {
  background: #33333308;
}

.navbar a {
  color: #fff;
  padding: 5px 20px;
  margin: 0 5px;
  font-family: "Montserrat";
}

.navbar a:hover {
  border-bottom: #fd3f3f 1px solid;
}

.navbar ul {
  display: flex;
}

/* Header */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(../images/home/showcase.jpg) no-repeat center center / cover;
  background-position: 50% 30%;
  height: 100vh;
  position: relative;
  h1 {
    color: #fff;
    word-spacing: 5px;
    letter-spacing: 1px;
  }
  p {
    color: white;
  }
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 65px;
}

.hero .content p {
  font-size: 18px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.fa-gear {
  font-size: 23px !important;
  color: #878788;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.hero * {
  z-index: 10;
}

.hero.blog {
  background: url("../images/home/blog.jpg") no-repeat center center/cover;
  height: 20vh;
}

/* Icons */
.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #4a4a4a;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

/*SECTION COLORS*/

#about {
  background: rgb(222, 222, 222);
}

#cases {
  background: rgb(222, 222, 222);
}
#team {
  background: rgb(222, 222, 222);
}

.cases img:hover {
  opacity: 0.7;
}

.team img {
  border-radius: 50%;
}

/* Callback form */
.callback-form {
  width: 100%;
  padding: 20px 0;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
}

.callback-form input:focus {
  outline-color: #fd3f3f;
}

.callback-form .btn {
  padding: 12px 0;
  margin-top: 20px;
  background-color: #fd3f3f;
  font-size: 16px;
  font-weight: 400;
}

.callback-form .btn:hover {
  color: #333;
  background-color: #fd3f3f23;
  border: 1px solid #fd3f3f;
}

/* Post */
.post {
  padding: 50px 30px;
}

.post h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: #ccc solid 1px;
}

.post .meta {
  margin-bottom: 30px;
}

.post img {
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 150px;
  padding: 30px;
}

.footer a {
  color: #fff9e0;
}

.footer a:hover {
  color: #fd3f3f;
}

.footer .social > * {
  margin-right: 15px;
}
.speedywebz {
  margin-top: 0px;
  font-size: 12px;
}

.mail-to {
  color: #f28b32 !important;
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column,
  .flex-grid .column {
    flex: 50%;
    max-width: 100%;
  }

  .team img {
    width: 70%;
  }
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
      url(../images/home/showcase2.jpg) no-repeat center center / cover;
    background-position: 20% 90%;
    p {
      font-size: 14px !important;
    }
  }
}

@media (max-width: 600px) {
  .hero {
    h1 {
      color: #fff;
      font-size: 36px !important;
      word-spacing: 2px;
      letter-spacing: 1px;
      margin-bottom: -10px;
    }
    p {
      color: rgb(255, 255, 255);
    }
  }
  .fa-gear {
    font-size: 23px !important;
    color: rgb(162, 162, 162);
  }
}

@media (max-width: 416px) {
  .hero {
    h1 {
      color: #fff;
      font-size: 20px !important;
      word-spacing: 2px;
      letter-spacing: 3px;
      margin-bottom: -5px;
      font-weight: 600 !important;
    }
    p {
      color: rgb(255, 255, 255);
      font-size: 12px !important;
    }
  }
  .fa-gear {
    font-size: 23px !important;
    color: rgb(162, 162, 162);
  }
  #about {
    padding: 50px 0px !important;
    font-size: 15px;
    word-spacing: 2px;
  }

  .column-2 {
    h4 {
      font-size: 16px !important;
      padding-bottom: 5px;
    }
    .section-h2 {
      font-size: 18px !important;
    }
    p {
      font-size: 16px !important;
    }
  }
  p.meta.blog-meta {
    font-size: 14px !important;
  }
  p.post-p {
    font-size: 14px;
  }
}
